* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0 10px 0 10px;
}

.box img {
  width: 200px;
  margin: auto;
}

.box h1 {
  text-align: center;
  font-size: 2em;
}
